-e git+https://github.com/acados/acados.git@61d1b7daa461893840fa41517e04178068bbfd12#egg=acados_template&subdirectory=interfaces/acados_template
actionlib==1.12.1
bondpy==1.8.5
catkin==0.7.29
catkin-pkg==0.5.2
certifi==2023.7.22
cycler==0.11.0
Cython==3.0.0
dataclasses==0.8
distro==1.8.0
docutils==0.18.1
dynamic_reconfigure==1.6.5
empy==3.3.4
future-fstrings==1.2.0
gencpp==0.6.6
geneus==2.2.6
genlisp==0.4.16
genmsg==0.5.17
gennodejs==2.0.1
genpy==0.6.16
gnupg==2.3.1
gpytorch==1.6.0
importlib-metadata==4.8.3
importlib-resources==5.4.0
joblib==0.15.1
kiwisolver==1.3.1
matplotlib==3.3.4
message_filters==1.14.13
numpy==1.19.0
packaging==21.3
pandas==1.1.5
Pillow==8.4.0
psutil==5.9.5
pycryptodomex==3.9.8
pyparsing==3.1.1
pyquaternion==0.9.5
python-dateutil==2.8.2
pytz==2023.3
PyYAML==5.3.1
requests==2.27.1
rosbag==1.14.13
rosboost-cfg==1.14.9
rosclean==1.14.9
roscreate==1.14.9
rosgraph==1.14.13
roslaunch==1.14.13
roslib==1.14.9
roslz4==1.14.13
rosmake==1.14.9
rosmaster==1.14.13
rosmsg==1.14.13
rosnode==1.14.13
rosparam==1.14.13
rospkg==1.5.0
rospy==1.14.13
rosservice==1.14.13
rostest==1.14.13
rostopic==1.14.13
rosunit==1.14.9
roswtf==1.14.13
scikit-build==0.16.7
scikit-learn==0.24.2
scipy==1.5.4
sensor-msgs==1.12.8
six==1.16.0
smclib==1.8.5
swig==4.1.1
threadpoolctl==3.1.0
tikzplotlib==0.9.12
topic_tools==1.14.13
torch==1.10.2
tqdm==4.64.1
typing_extensions==4.1.1
zipp==3.6.0
